<h1 class="text-center mt-5">Vista detalles de usuario: {{usuario.nombre}}</h1>

<section class="datosPublicos">
    <p><b>Nombre:</b> {{usuario.nombre}}</p>
    <p><b>Apellido:</b> {{usuario.apellido}}</p>
    <p><b>Email:</b> {{usuario.email}}</p>
</section>

<section class="datosPrivados">
    
</section>